body {
    font-family: sans-serif;
}

h1 { 
    color: #33CDC7;
    text-align: center;
}

header {
    background-color: #FF7100;
    padding: 30px;
}

.link-header {
    background-color: white;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    padding: 10px;
}

nav {
    padding: 20px 40px;
    display: flex; 
    justify-content: space-around;
}

.link-nav {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    border-bottom: 1px solid black;
}
